<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<body>
User page
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getAge()}"></td>
    <td th:text="${user.getEmail()}"></td>
    </tbody>
</table>

<br/>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>
</body>
</html>